*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Roboto';

   box-sizing: border-box;

   background: rgb(23, 120, 255);
   background: linear-gradient(
      90deg,
      rgba(23, 120, 255, 1) 0%,
      rgba(0, 241, 255, 1) 100%
   );
   background-size: 100%;
}
